name: Pull Request Workflow

on:
  pull_request:
    branches:
      - main

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Use Python version 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install Flake8
      run: |
        python -m pip install flake8
    - name: Run linting tests
      run: | 
        flake8 src/model/
        
unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt  # Install your project's dependencies
    - name: Run unit tests
      run: |
        pytest tests/  # Replace with the path to your unit test directory

        
