name: Train Model Workflow

on:
  push:
    branches:
      - main

jobs:
  experimentation:
    name: Experiment Job
    environment: experiment
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.DEV_AZURE_CREDENTIALS}}
    - name: Trigger Azure Machine Learning job
      run: az ml job create --stream --file src/experiment.yml --resource-group TestResourceGroup --workspace-name dreams-aml

  production:
    name: Production Job
    environment: production
    needs: experimentation
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.PROD_AZURE_CREDENTIALS}}
    - name: Trigger Azure Machine Learning job
      run: az ml job create --stream --file src/production.yml --resource-group TestResourceGroup --workspace-name dreams-aml
