name: Train Model Workflow

on:
  push:
    branches:
      - main

jobs:
  experimentation:
    runs-on: ubuntu-latest
    environment: experiment
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.DEV_AZURE_CREDENTIALS}}
    - name: Trigger Azure Machine Learning job
      run: az ml job create --file src/job.yml --resource-group TestResourceGroup --workspace-name dreams-aml -s

  production:
    name: Production Job
    needs: experimentation
    environment: production
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.PROD_AZURE_CREDENTIALS}}
    - name: Trigger Azure Machine Learning job
      run: az ml job create --file src/job.yml --resource-group TestResourceGroup --workspace-name dreams-aml -s
